<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/NoDreamWeb/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="[YOUR_USERNAME]" />
            <add key="ClearTextPassword" value="[YOUR_PERSONAL_API_TOKEN]" />
        </github>
    </packageSourceCredentials>
</configuration>